
html, body {
  margin: 0;
  height: 100%;
}
.btn{
	background-color: #605DF2;
}
input:focus + select, select:focus {
  display: block;
}
select {
  display: flex;
  padding: 0.5em;
  border: 1px solid silver;
  border-radius: 0.2em;
  box-sizing: border-box;
  
  
  position: absolute;
}
option{
  padding: 0.2em;
}
#launch-screen{
	display: flex;
    flex-direction: column;
	height: 100%;
    width: 100%;
}
.launch-card-layout{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  
  bottom: 0;

	
}
#launch-card{
  margin: 1em;
  padding: 1.5em;
  background: white;
  border-radius: 25px;
}
select{
	display: none;
}
.map {
	
  height: 100%;
  width: 100%;
	
	
}


.fas{
	color: #605DF2;
}

